img.ball {
  margin: 5px;
  height: 64px;
  width: 64px;
}

img.ball96 {
  margin: 5px;
  height: 96px;
  width: 96px;
}

.balls-row {
  position: relative;
  text-align: right;
  max-width: 100%;
}

.again {
  position: relative;
  text-align: center;
  max-width: 100%;
}

#gameStatus {
  font-size: 32px;
  color: #938172;
  text-align: center;
}

#gameTitle {
  font-size: 32px;
  color: #202020;
  text-align: center;
}

#gameStatusInfo {
  font-size: 20px;
  color: #626266;
}

#gameStatusChoice {
  font-size: 20px;
  color: #626266;
}

.statusSpan {
  vertical-align: text-bottom;
}

.jumbotron {
  height: 150px;
}

body {
  background-color: #f2f2f2;
}
